@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll smoothing */
html {
	scroll-behavior: smooth;
}
/* Disable smooth scrolling for users who request it */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

input {
    color: black;
}

button:focus {
    outline: 12px solid yellow;
}
a:focus{
    outline: 12px solid yellow;
}
input:focus{
    outline: 12px solid yellow;
}

/* Light theme */
.theme-light.primary {
    /* 14.78:1 */
    background-color: #115F69;
    color: white;
}

.light-btn {
    background-color: #115F69;
    color: white;
    border-radius: 0.25rem;
    border: 2px solid black;
}
.light-btn:hover {
    background-color: #026100;
    color: white;
    border: 2px solid black;
}

.theme-light.secondary {
    /* 19.21 */
    background-color: #e3f9fb;
    color: black;
}

.theme-light.accent {
    /* 20.35:1 with black */
    background-color: #6B3000;
    color: white;
}

.theme-light.highlight {
    /* 7:08 with #e3f9fb*/
    /* 7.74:1 with white */
    background-color: #026100;
    color: white;
}

/* Dark theme */
.theme-dark.primary {
    /* 17.71:1 */
    background-color: #1b103c;
    border: 1px solid white;
    color: white;
}

.dark-btn {
    background-color: #1b103c;
    color: white;
    border-radius: 0.25rem;
    border: 2px solid black;
}
.dark-btn:hover {
    background-color: #ff69b4;
    color: black;
    border: 2px solid white;
}

.theme-dark.secondary {
    /* 19.04.80:1 */
    background-color: #0c1202;
    border: 2px solid white;
    color:white;

}

.theme-dark.accent {
    /* 15.46:1 */
    background-color: #131868;
    border: 1px solid white;
    color:white;
}

.theme-dark.highlight {
    /* 7.93:1 */
    background-color: #ff69b4;
    color:black;
}


/* Accessible theme 1 ...
https://venngage.com/tools/accessible-color-palette-generator */
.theme-access1.primary {
    /* 7.30:1 */
    background-color: #85a16a;
    border: 1px solid black;
    color: black;
}

.access1-btn {
    background-color: #85a16a;
    color: black;
    border-radius: 0.25rem;
    border: 2px solid black;
}
.access1-btn:hover {
    background-color: #0008E6;
    color: white;
    border: 2px solid white;
}

.theme-access1.secondary {
    /* 8.74:1 */
    background-color: #BECBC5;
    border: 1px solid black;
    color:black;
}

.theme-access1.accent {
    /* 8.96:1 */
    background-color: #726F36;
    border: 1px solid black;
    color:white;
}

.theme-access1.highlight {
    background-color: #0008E6;
    color:white;
}

/* Accessible theme 2 ... http://a11yrocks.com/colorPalette/*/
.theme-access2.primary { 
    /* 8.78:1 */
    background-color: #CA520C;
    border-color: black;
    color: black;
}

.access2-btn {
    background-color: #CA520C;
    color: black;
    border-radius: 0.25rem;
    border: 2px solid black;
}
.access2-btn:hover {
    background-color: #4e39b6;
    color: white;
    border: 2px solid black;
}

.theme-access2.secondary {
    /* 14.91:1 */
    background-color: #F8CDA5;
    color:black;
}

.theme-access2.accent {
    /* 10.89:1 */
    background-color: #627E20;
    color:white;
}

.theme-access2.highlight {
    /* 8.12:1 */
    background-color: #4e39b6;
    color:white
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('./assets/Atkinson-Hyperlegible-Regular-102.ttf');
  }

@font-face {
  font-family: 'Atkinson Hyperlegible Bold';
  src: url('./assets/Atkinson-Hyperlegible-Bold-102.ttf');
}

@font-face {
    font-family: 'Atkinson Hyperlegible BoldItalic';
    src: url('./assets/Atkinson-Hyperlegible-BoldItalic-102.ttf');
}

@font-face {
  font-family: 'Atkinson Hyperlegible Italic';
  src: url('./assets/Atkinson-Hyperlegible-Italic-102.ttf');
}

/* * {
    font-family: 'Atkinson Hyperlegible';
    font-size: 1.3rem;
} */

h1 {
    font-family: 'Atkinson Hyperlegible Bold';
}

h2 {
    font-family: 'Atkinson Hyperlegible BoldItalic';
}

h3 {
    font-family: 'Atkinson Hyperlegible BoldItalic';
}

h4 {
    font-family: 'Atkinson Hyperlegible BoldItalic';
}

h5 {
    font-family: 'Atkinson Hyperlegible Italic';
}

h6 {
    font-family: 'Atkinson Hyperlegible Italic';
}