<form class="grid" (ngSubmit)="OnSubmitUrl()">
  <h1 class="text-8xl">Submit your URL here</h1>
  <label class="text-4xl mt-2 mb-2" for="urlSubmissionField">Enter a URL below and we will reformat it for you!</label>
  <input required class="text-6xl w-full border mb-2" type="url" placeholder="Enter your URL here" [(ngModel)]="userUrl" name="targetUrl"
    id="urlSubmissionField">
  <h2 class="text-4xl">Content Options</h2>
  <p class="text-2xl mb-2">You have control over how your article is generated. The first checkbox below decides whether to return images. The second decides whether to generate missing alt-text (this option is for users using screen readers.)</p>

  <article class="flex justify-center space-x-4 mb-2">
    <div class="flex items-center">
      <input checked id="get-images-checkbox" type="checkbox" value="get_images" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="get-images-checkbox" class="ms-2 text-2xl">Get images</label>
    </div>
    <div class="flex items-center">
      <input checked id="generate-alt-text-checkbox" type="checkbox" value="generate_alt_text" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="generate-alt-text-checkbox" class="ms-2 text-2xl">Generate missing alt-text</label>
    </div>
  </article>
  
  <button type="submit" class="text-6xl font-semibold py-2 px-4 rounded" [ngClass]="btnTheme">Submit</button>
</form>