<form class="grid">
  <h1 class="text-8xl">Submit your URL here</h1>
  <label class="text-4xl mt-2 mb-2" for="urlSubmissionField">Enter the URL of your inaccessible webpage here and we will
    fix the format for you!</label>
  <input class="text-6xl w-full border mb-2" type="url" placeholder="Enter your URL here" [(ngModel)]="userUrl"
    id="urlSubmissionField">
  <h2 class="text-4xl">Content Options</h2>
  <p class="text-2xl mb-2">Click or tap on the radio buttons below to change how the article is generated.</p>
  <article class="flex justify-center space-x-4">
    <label class="inline-flex items-center mb-5 cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" checked>
      <div
        class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-red-600">
      </div>
      <span class="ms-3 text-sm font-medium ">Get images</span>
    </label>

    <label class="inline-flex items-center mb-5 cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" checked>
      <div
        class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-yellow-300 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-yellow-400">
      </div>
      <span class="ms-3 text-sm font-medium">Generate missing alt-text</span>
    </label>

    <label class="inline-flex items-center mb-5 cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" checked>
      <div
        class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-orange-300 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-orange-500">
      </div>
      <span class="ms-3 text-sm font-medium">Give me a summary</span>
    </label>
  </article>
  <button type="button" class="text-6xl font-semibold py-2 px-4 rounded" [ngClass]="btnTheme"
  (click)="OnSubmitUrl()">Submit</button>
</form>