<html lang="en">
<title>Web Accessibility Scraping Project</title>

<nav class="shadow-md accent" [ngClass]="themeClass">
    <h1 class="text-9xl">WASA</h1>
</nav>

<article>
    <a id="about"></a>
    <article class="min-h-fit px-5 pt-5 pb-5 primary flex justify-center items-center flex-col" [ngClass]="themeClass">
        <!-- Information on WASA-->
        <article class="shadow-xl p-4 max-w-7xl mb-4 rounded-2xl secondary" [ngClass]="themeClass">
            <h1 class="text-6xl mb-2">Welcome to WASA</h1>
            <p class="text-2xl mb-2">The WASA (Web Accessibility Scraping Application) project is an ongoing CSI 4900
                honours project at the University of Ottawa for the development of an application intended to parse
                inaccessible content for users with disabilities, serving up the scraped content in an accessible way
                for each user's individual needs.</p>
            <p class="text-2xl mb-2">Submit the URL of an article you want to read, and we do the rest.</p>
            <a href="#urlSubmissionField" class="text-3xl hover:underline underline-offset-8 highlight"
                [ngClass]="themeClass">Click or tap here to try it.</a>
        </article>
        <!-- Themes -->
        <article class="shadow-xl p-4 max-w-7xl mb-4 rounded-2xl secondary" [ngClass]="themeClass">
            <h1 class="text-6xl mb-2">Themes</h1>
            <p class="text-2xl">Click or tap on the buttons below to change your theme. This will change the colour
                scheme of the webpage.</p>
            <article class="grid grid-cols-2 gap-2 mt-5 mb-5">
                <!-- Light mode selector -->
                <button class="text-2xl font-semibold py-2 px-4 rounded light-btn"
                    (click)="setLightTheme()">Seaside</button>
                <!-- Dark mode selector -->
                <button class="text-2xl font-semibold py-2 px-4 rounded dark-btn"
                    (click)="setDarkTheme()">Astral</button>
                <!-- Lime mode selector -->
                <button class="text-2xl font-semibold py-2 px-4 rounded access1-btn"
                    (click)="setAccess1Theme()">Pickle</button>
                <!-- Apricot mode selector -->
                <button class="text-2xl font-semibold py-2 px-4 rounded access2-btn"
                    (click)="setAccess2Theme()">Apricot</button>
            </article>
        </article>
    </article>
</article>
<article class="px-5 pt-5 pb-5 flex align-center items-center flex-col secondary" [ngClass]="themeClass">
    <a id="urlSubmissionField"></a>
    <article class="shadow-xl p-4 mb-4 max-w-7xl rounded-2xl accent" [ngClass]="themeClass">
        <!-- URL submission form-->
        <app-url-submission-form [themeClass]="themeClass" [btnTheme]="btnTheme"></app-url-submission-form>
    </article>
    <article class="max-w-7xl" [ngClass]="themeClass">
        <!-- dynamic article-->
        <app-dynamic-article [themeClass]="themeClass"></app-dynamic-article>
    </article>
</article>

</html>